/*
Keycloak Admin REST API

This is a REST API reference for the Keycloak Admin REST API.

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WorkflowsAPIService WorkflowsAPI service
type WorkflowsAPIService service

type ApiAdminRealmsRealmWorkflowsGetRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	exact *bool
	first *int32
	max *int32
	search *string
}

// Boolean which defines whether the param &#39;search&#39; must match exactly or not
func (r ApiAdminRealmsRealmWorkflowsGetRequest) Exact(exact bool) ApiAdminRealmsRealmWorkflowsGetRequest {
	r.exact = &exact
	return r
}

// The position of the first result to be processed (pagination offset)
func (r ApiAdminRealmsRealmWorkflowsGetRequest) First(first int32) ApiAdminRealmsRealmWorkflowsGetRequest {
	r.first = &first
	return r
}

// The maximum number of results to be returned - defaults to 10
func (r ApiAdminRealmsRealmWorkflowsGetRequest) Max(max int32) ApiAdminRealmsRealmWorkflowsGetRequest {
	r.max = &max
	return r
}

// A String representing the workflow name - either partial or exact
func (r ApiAdminRealmsRealmWorkflowsGetRequest) Search(search string) ApiAdminRealmsRealmWorkflowsGetRequest {
	r.search = &search
	return r
}

func (r ApiAdminRealmsRealmWorkflowsGetRequest) Execute() (*WorkflowRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsGetExecute(r)
}

/*
AdminRealmsRealmWorkflowsGet List workflows

List workflows filtered by name and paginated using first and max parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @return ApiAdminRealmsRealmWorkflowsGetRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsGet(ctx context.Context, realm string) ApiAdminRealmsRealmWorkflowsGetRequest {
	return ApiAdminRealmsRealmWorkflowsGetRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
	}
}

// Execute executes the request
//  @return WorkflowRepresentation
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsGetExecute(r ApiAdminRealmsRealmWorkflowsGetRequest) (*WorkflowRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.exact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exact", r.exact, "form", "")
	}
	if r.first != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "first", r.first, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/yaml", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	id string
	resourceId string
	type_ map[string]interface{}
	notBefore *string
}

// Optional value representing the time to schedule the first workflow step. The value is either an integer representing the seconds from now, an integer followed by &#39;ms&#39; representing milliseconds from now, or an ISO-8601 date string.
func (r ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest) NotBefore(notBefore string) ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest {
	r.notBefore = &notBefore
	return r
}

func (r ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostExecute(r)
}

/*
AdminRealmsRealmWorkflowsIdActivateTypeResourceIdPost Activate workflow for resource

Activate the workflow for the given resource type and identifier. Optionally schedule the first step using the notBefore parameter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @param id Workflow identifier
 @param resourceId Resource identifier
 @param type_ Resource type
 @return ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdActivateTypeResourceIdPost(ctx context.Context, realm string, id string, resourceId string, type_ map[string]interface{}) ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest {
	return ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
		id: id,
		resourceId: resourceId,
		type_: type_,
	}
}

// Execute executes the request
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostExecute(r ApiAdminRealmsRealmWorkflowsIdActivateTypeResourceIdPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsIdActivateTypeResourceIdPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows/{id}/activate/{type}/{resourceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceId"+"}", url.PathEscape(parameterValueToString(r.resourceId, "resourceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.notBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notBefore", r.notBefore, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	id string
	resourceId string
	type_ map[string]interface{}
}

func (r ApiAdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostExecute(r)
}

/*
AdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPost Deactivate workflow for resource

Deactivate the workflow for the given resource type and identifier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @param id Workflow identifier
 @param resourceId Resource identifier
 @param type_ Resource type
 @return ApiAdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPost(ctx context.Context, realm string, id string, resourceId string, type_ map[string]interface{}) ApiAdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostRequest {
	return ApiAdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
		id: id,
		resourceId: resourceId,
		type_: type_,
	}
}

// Execute executes the request
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostExecute(r ApiAdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsIdDeactivateTypeResourceIdPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows/{id}/deactivate/{type}/{resourceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceId"+"}", url.PathEscape(parameterValueToString(r.resourceId, "resourceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsIdDeleteRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	id string
}

func (r ApiAdminRealmsRealmWorkflowsIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsIdDeleteExecute(r)
}

/*
AdminRealmsRealmWorkflowsIdDelete Delete workflow

Delete the workflow and its configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @param id Workflow identifier
 @return ApiAdminRealmsRealmWorkflowsIdDeleteRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdDelete(ctx context.Context, realm string, id string) ApiAdminRealmsRealmWorkflowsIdDeleteRequest {
	return ApiAdminRealmsRealmWorkflowsIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
		id: id,
	}
}

// Execute executes the request
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdDeleteExecute(r ApiAdminRealmsRealmWorkflowsIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsIdGetRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	id string
	includeId *bool
}

// Indicates whether the workflow id should be included in the representation or not - defaults to true
func (r ApiAdminRealmsRealmWorkflowsIdGetRequest) IncludeId(includeId bool) ApiAdminRealmsRealmWorkflowsIdGetRequest {
	r.includeId = &includeId
	return r
}

func (r ApiAdminRealmsRealmWorkflowsIdGetRequest) Execute() (*WorkflowRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsIdGetExecute(r)
}

/*
AdminRealmsRealmWorkflowsIdGet Get workflow

Get the workflow representation. Optionally exclude the workflow id from the response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @param id Workflow identifier
 @return ApiAdminRealmsRealmWorkflowsIdGetRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdGet(ctx context.Context, realm string, id string) ApiAdminRealmsRealmWorkflowsIdGetRequest {
	return ApiAdminRealmsRealmWorkflowsIdGetRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
		id: id,
	}
}

// Execute executes the request
//  @return WorkflowRepresentation
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdGetExecute(r ApiAdminRealmsRealmWorkflowsIdGetRequest) (*WorkflowRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeId", r.includeId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/yaml", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsIdPutRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	id string
	workflowRepresentation *WorkflowRepresentation
}

func (r ApiAdminRealmsRealmWorkflowsIdPutRequest) WorkflowRepresentation(workflowRepresentation WorkflowRepresentation) ApiAdminRealmsRealmWorkflowsIdPutRequest {
	r.workflowRepresentation = &workflowRepresentation
	return r
}

func (r ApiAdminRealmsRealmWorkflowsIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsIdPutExecute(r)
}

/*
AdminRealmsRealmWorkflowsIdPut Update workflow

Update the workflow configuration. This method does not update the workflow steps.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @param id Workflow identifier
 @return ApiAdminRealmsRealmWorkflowsIdPutRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdPut(ctx context.Context, realm string, id string) ApiAdminRealmsRealmWorkflowsIdPutRequest {
	return ApiAdminRealmsRealmWorkflowsIdPutRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
		id: id,
	}
}

// Execute executes the request
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsIdPutExecute(r ApiAdminRealmsRealmWorkflowsIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/yaml", "application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowRepresentation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsPostRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	workflowRepresentation *WorkflowRepresentation
}

func (r ApiAdminRealmsRealmWorkflowsPostRequest) WorkflowRepresentation(workflowRepresentation WorkflowRepresentation) ApiAdminRealmsRealmWorkflowsPostRequest {
	r.workflowRepresentation = &workflowRepresentation
	return r
}

func (r ApiAdminRealmsRealmWorkflowsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsPostExecute(r)
}

/*
AdminRealmsRealmWorkflowsPost Create workflow

Create a new workflow from the provided representation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @return ApiAdminRealmsRealmWorkflowsPostRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsPost(ctx context.Context, realm string) ApiAdminRealmsRealmWorkflowsPostRequest {
	return ApiAdminRealmsRealmWorkflowsPostRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
	}
}

// Execute executes the request
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsPostExecute(r ApiAdminRealmsRealmWorkflowsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/yaml", "application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workflowRepresentation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAdminRealmsRealmWorkflowsScheduledResourceIdGetRequest struct {
	ctx context.Context
	ApiService *WorkflowsAPIService
	realm string
	resourceId string
}

func (r ApiAdminRealmsRealmWorkflowsScheduledResourceIdGetRequest) Execute() (*WorkflowRepresentation, *http.Response, error) {
	return r.ApiService.AdminRealmsRealmWorkflowsScheduledResourceIdGetExecute(r)
}

/*
AdminRealmsRealmWorkflowsScheduledResourceIdGet List scheduled workflows for resource

Return workflows that have scheduled steps for the given resource identifier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param realm realm name (not id!)
 @param resourceId Identifier of the resource associated with the scheduled workflows
 @return ApiAdminRealmsRealmWorkflowsScheduledResourceIdGetRequest
*/
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsScheduledResourceIdGet(ctx context.Context, realm string, resourceId string) ApiAdminRealmsRealmWorkflowsScheduledResourceIdGetRequest {
	return ApiAdminRealmsRealmWorkflowsScheduledResourceIdGetRequest{
		ApiService: a,
		ctx: ctx,
		realm: realm,
		resourceId: resourceId,
	}
}

// Execute executes the request
//  @return WorkflowRepresentation
func (a *WorkflowsAPIService) AdminRealmsRealmWorkflowsScheduledResourceIdGetExecute(r ApiAdminRealmsRealmWorkflowsScheduledResourceIdGetRequest) (*WorkflowRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkflowRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowsAPIService.AdminRealmsRealmWorkflowsScheduledResourceIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/realms/{realm}/workflows/scheduled/{resource-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"realm"+"}", url.PathEscape(parameterValueToString(r.realm, "realm")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resource-id"+"}", url.PathEscape(parameterValueToString(r.resourceId, "resourceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
